In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from datetime import date
import selenium
import pandas as pd
from selenium import webdriver

from time import sleep
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')

In [2]:
#extracting path of the webdriver
driver=webdriver.Chrome(r'C:\Users\yashn\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
# Getting the webpage of mentioned url
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=5/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [6]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')  
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
    
#destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [7]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(180, 180, 180, 180, 180, 180, 180, 180)

In [8]:
#Making dataframe
# creating a pandas dataframe
df1= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'05/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df1

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,05/05/2022,Bangalore,Mumbai,06:00,07:35,01h 35m,non-stop,"6,529"
1,GO FIRST,05/05/2022,Bangalore,Mumbai,05:45,07:25,01h 40m,non-stop,"6,529"
2,AirAsia,05/05/2022,Bangalore,Mumbai,22:40,00:20,01h 40m,non-stop,"6,529"
3,Indigo,05/05/2022,Bangalore,Mumbai,07:00,08:50,01h 50m,non-stop,"6,529"
4,AirAsia,05/05/2022,Bangalore,Mumbai,19:30,21:20,01h 50m,non-stop,"6,529"
...,...,...,...,...,...,...,...,...,...
175,Indigo,05/05/2022,Bangalore,Mumbai,13:00,17:55,04h 55m,1-stop,"17,607"
176,Air India,05/05/2022,Bangalore,Mumbai,18:35,16:25,21h 50m,1-stop,
177,Vistara,05/05/2022,Bangalore,Mumbai,11:30,21:35,10h 05m,1-stop,"21,334"
178,Air India,05/05/2022,Bangalore,Mumbai,11:35,09:05,21h 30m,1-stop,
179,Air India,05/05/2022,Bangalore,Mumbai,11:35,10:10,22h 35m,1-stop,

In [9]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India&dept=BLR-Bangalore,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=06/06/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [10]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')      
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
    
#destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [11]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(225, 225, 225, 225, 225, 225, 225, 225)

In [12]:
#Making dataframe
# creating a pandas dataframe
df2= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'06/06/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df2

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,SpiceJet,06/06/2022,Delhi,Bangalore,20:00,22:30,02h 30m,non-stop,"5,323"
1,GO FIRST,06/06/2022,Delhi,Bangalore,05:50,08:35,02h 45m,non-stop,"5,323"
2,SpiceJet,06/06/2022,Delhi,Bangalore,06:05,08:55,02h 50m,non-stop,"5,323"
3,GO FIRST,06/06/2022,Delhi,Bangalore,20:30,23:20,02h 50m,non-stop,"5,323"
4,Indigo,06/06/2022,Delhi,Bangalore,17:25,19:55,02h 30m,non-stop,"5,324"
...,...,...,...,...,...,...,...,...,...
220,Vistara,06/06/2022,Delhi,Bangalore,18:40,20:55,26h 15m,1-stop,"14,670"
221,Vistara,06/06/2022,Delhi,Bangalore,18:40,23:10,28h 30m,1-stop,"14,670"
222,Air India,06/06/2022,Delhi,Bangalore,17:15,13:15,20h 00m,1-stop,
223,SpiceJet,06/06/2022,Delhi,Bangalore,13:05,12:55,23h 50m,1-stop,"17,609"
224,AirAsia,06/06/2022,Delhi,Bangalore,10:05,18:10,08h 05m,2+-stop,"17,431"

In [19]:
# Getting the webpage of mentioned url
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=06/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [20]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]') 
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')     
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
    
#destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [21]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(209, 209, 209, 209, 209, 209, 209, 209)

In [22]:
#Making dataframe
# creating a pandas dataframe
df3= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'06/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df3

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,06/05/2022,Bangalore,Mumbai,04:40,06:15,01h 35m,non-stop,"6,529"
1,Indigo,06/05/2022,Bangalore,Mumbai,06:00,07:35,01h 35m,non-stop,"6,529"
2,AirAsia,06/05/2022,Bangalore,Mumbai,05:35,07:15,01h 40m,non-stop,"6,529"
3,GO FIRST,06/05/2022,Bangalore,Mumbai,05:45,07:25,01h 40m,non-stop,"6,529"
4,Indigo,06/05/2022,Bangalore,Mumbai,07:00,08:50,01h 50m,non-stop,"6,529"
...,...,...,...,...,...,...,...,...,...
204,Indigo,06/05/2022,Bangalore,Mumbai,18:25,23:30,05h 05m,1-stop,"19,129"
205,AirAsia,06/05/2022,Bangalore,Mumbai,05:40,19:15,13h 35m,1-stop,"19,208"
206,Air India,06/05/2022,Bangalore,Mumbai,05:20,20:15,14h 55m,1-stop,
207,Vistara,06/05/2022,Bangalore,Mumbai,11:30,21:35,10h 05m,1-stop,"22,699"
208,Air India,06/05/2022,Bangalore,Mumbai,11:35,09:05,21h 30m,1-stop Via Hyderabad,

In [23]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,%20India&dept=BLR-Bangalore,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=07/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [24]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')  
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
    
#destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [25]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(223, 223, 223, 223, 223, 223, 223, 223)

In [26]:
#Making dataframe
# creating a pandas dataframe
df4= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'07/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df4

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,GO FIRST,07/05/2022,Delhi,Bangalore,05:50,08:35,02h 45m,non-stop,"8,159"
1,SpiceJet,07/05/2022,Delhi,Bangalore,06:05,08:55,02h 50m,non-stop,"8,159"
2,AirAsia,07/05/2022,Delhi,Bangalore,21:40,00:30,02h 50m,non-stop,"8,159"
3,GO FIRST,07/05/2022,Delhi,Bangalore,20:30,23:20,02h 50m,non-stop,"8,159"
4,AirAsia,07/05/2022,Delhi,Bangalore,08:10,10:40,02h 30m,non-stop,"8,159"
...,...,...,...,...,...,...,...,...,...
218,GO FIRST,07/05/2022,Delhi,Bangalore,21:45,08:35,10h 50m,1-stop,"21,074"
219,SpiceJet,07/05/2022,Delhi,Bangalore,14:20,15:25,25h 05m,1-stop,"21,416"
220,SpiceJet,07/05/2022,Delhi,Bangalore,13:05,12:20,23h 15m,1-stop,"21,599"
221,Vistara,07/05/2022,Delhi,Bangalore,15:20,16:20,25h 00m,1-stop,"21,600"
222,AirAsia,07/05/2022,Delhi,Bangalore,10:05,18:10,08h 05m,2+-stop,"29,006"

In [27]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=07/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [28]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')   
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
 #destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])       
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [29]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(198, 198, 198, 198, 198, 198, 198, 198)

In [30]:
#Making dataframe
# creating a pandas dataframe
df5= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'07/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df5

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,07/05/2022,Bangalore,Mumbai,04:40,06:15,01h 35m,non-stop,"6,529"
1,Indigo,07/05/2022,Bangalore,Mumbai,06:00,07:35,01h 35m,non-stop,"6,529"
2,AirAsia,07/05/2022,Bangalore,Mumbai,05:35,07:15,01h 40m,non-stop,"6,529"
3,GO FIRST,07/05/2022,Bangalore,Mumbai,05:45,07:25,01h 40m,non-stop,"6,529"
4,AirAsia,07/05/2022,Bangalore,Mumbai,22:40,00:20,01h 40m,non-stop,"6,529"
...,...,...,...,...,...,...,...,...,...
193,Air India,07/05/2022,Bangalore,Mumbai,11:35,09:05,21h 30m,1-stop Via Bhubaneswar,
194,Air India,07/05/2022,Bangalore,Mumbai,11:35,10:10,22h 35m,1-stop Via Bhubaneswar,
195,Vistara,07/05/2022,Bangalore,Mumbai,11:30,21:35,10h 05m,1-stop,"26,007"
196,Air India,07/05/2022,Bangalore,Mumbai,11:35,09:05,21h 30m,1-stop,
197,Air India,07/05/2022,Bangalore,Mumbai,11:35,10:10,22h 35m,1-stop,

In [31]:
#getting the url

url = "https://flight.easemytrip.com/FlightList/Index?org=BLR-Bangalore,%20India&dept=BOM-Mumbai,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=08/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [32]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')   
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
 #destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])       
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [33]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(199, 199, 199, 199, 199, 199, 199, 199)

In [34]:
#Making dataframe
# creating a pandas dataframe
df6= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'08/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df6

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,08/05/2022,Bangalore,Mumbai,04:40,06:15,01h 35m,non-stop,"6,529"
1,Indigo,08/05/2022,Bangalore,Mumbai,06:00,07:35,01h 35m,non-stop,"6,529"
2,AirAsia,08/05/2022,Bangalore,Mumbai,05:35,07:15,01h 40m,non-stop,"6,529"
3,GO FIRST,08/05/2022,Bangalore,Mumbai,05:45,07:25,01h 40m,non-stop,"6,529"
4,Indigo,08/05/2022,Bangalore,Mumbai,07:00,08:50,01h 50m,non-stop,"6,529"
...,...,...,...,...,...,...,...,...,...
194,AirAsia,08/05/2022,Bangalore,Mumbai,05:40,17:05,11h 25m,1-stop,"20,278"
195,AirAsia,08/05/2022,Bangalore,Mumbai,05:10,17:05,11h 55m,1-stop,"20,278"
196,Vistara,08/05/2022,Bangalore,Mumbai,11:30,11:30,24h 00m,1-stop,"23,277"
197,Vistara,08/05/2022,Bangalore,Mumbai,11:30,20:05,08h 35m,1-stop,"27,214"
198,Air India,08/05/2022,Bangalore,Mumbai,11:35,09:05,21h 30m,1-stop Via Hyderabad,

In [35]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India&dept=DEL-New%20Delhi,%20India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=08/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [36]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')   
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
 #destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])       
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [37]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(233, 233, 233, 233, 233, 233, 233, 233)

In [38]:
#Making dataframe
# creating a pandas dataframe
df7= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'08/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df7

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,AirAsia,08/05/2022,Mumbai,Delhi,19:45,21:45,02h 00m,non-stop,"7,308"
1,Indigo,08/05/2022,Mumbai,Delhi,07:00,09:05,02h 05m,non-stop,"7,308"
2,Indigo,08/05/2022,Mumbai,Delhi,06:05,08:15,02h 10m,non-stop,"7,308"
3,GO FIRST,08/05/2022,Mumbai,Delhi,08:15,10:25,02h 10m,non-stop,"7,308"
4,Indigo,08/05/2022,Mumbai,Delhi,19:30,21:40,02h 10m,non-stop,"7,308"
...,...,...,...,...,...,...,...,...,...
228,Air India,08/05/2022,Mumbai,Delhi,05:45,17:35,11h 50m,1-stop,
229,Vistara,08/05/2022,Mumbai,Delhi,14:10,15:20,25h 10m,1-stop,"26,051"
230,GO FIRST,08/05/2022,Mumbai,Delhi,10:45,18:10,07h 25m,1-stop,"27,137"
231,GO FIRST,08/05/2022,Mumbai,Delhi,10:45,19:20,08h 35m,1-stop,"27,137"
232,GO FIRST,08/05/2022,Mumbai,Delhi,10:45,20:10,09h 25m,1-stop,"28,345"

In [39]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=BOM-Mumbai,%20India&dept=CCU-Kolkata,India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=08/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [40]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')   
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
 #destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])       
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [41]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(179, 179, 179, 179, 179, 179, 179, 179)

In [43]:
#Making dataframe
# creating a pandas dataframe
df8= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'08/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df8

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,08/05/2022,Mumbai,Kolkata,22:40,01:15,02h 35m,non-stop,"8,148"
1,GO FIRST,08/05/2022,Mumbai,Kolkata,05:50,08:30,02h 40m,non-stop,"8,148"
2,SpiceJet,08/05/2022,Mumbai,Kolkata,06:10,08:55,02h 45m,non-stop,"8,148"
3,SpiceJet,08/05/2022,Mumbai,Kolkata,20:50,23:35,02h 45m,non-stop,"8,148"
4,GO FIRST,08/05/2022,Mumbai,Kolkata,21:45,00:30,02h 45m,non-stop,"8,148"
...,...,...,...,...,...,...,...,...,...
174,AirAsia,08/05/2022,Mumbai,Kolkata,03:10,19:50,16h 40m,2+-stop,"26,866"
175,Vistara,08/05/2022,Mumbai,Kolkata,12:10,19:35,07h 25m,2+-stop,"27,645"
176,SpiceJet,08/05/2022,Mumbai,Kolkata,13:10,13:10,24h 00m,1-stop,"28,308"
177,SpiceJet,08/05/2022,Mumbai,Kolkata,13:10,18:30,05h 20m,1-stop,"30,302"
178,SpiceJet,08/05/2022,Mumbai,Kolkata,08:25,18:30,10h 05m,1-stop,"32,402"

In [44]:
#getting the url
url = "https://flight.easemytrip.com/FlightList/Index?org=DEL-Delhi,India&dept=CCU-Kolkata,India&adt=1&chd=0&inf=0&cabin=0&airline=Any&deptDT=09/05/2022&arrDT=&isOneway=true&isDomestic=true&CouponCode=&lang=&ompAff=&bc=&ISWL="
driver.get(url)

In [45]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#Source
Source=[]  
try:
    s=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]/span[2]')
    for i in s:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')
#destination
Destination=[]  
try:
    d=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]/span[2]')
    for i in d:
        Destination.append(i.text)
except NoSuchElementException:
    Destination.append('-')   
    
# total stops
stops=[]
try:
    stop=driver.find_elements_by_xpath('//span[@class="dura_md2 ng-scope"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
departure=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="txt-r2-n ng-binding"]')
    for i in time:
        departure.append(i.text)
except NoSuchElementException:
    departure.append('-')
 #destination
departure_time=[]
arrival_time=[]
for i in range(0,len(departure)-1,2):
    departure_time.append(departure[i])
    arrival_time.append(departure[i+1])       
#duration
duration=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="dura_md ng-binding"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements_by_xpath('//div[@class="col-md-8 col-sm-8 col-xs-9 txt-r6-n exPrc ng-binding"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [46]:
len(airline_name),len(Source),len(Destination),len(stops),len(departure_time),len(arrival_time),len(duration),len(price)

(148, 148, 148, 148, 148, 148, 148, 148)

In [47]:
#Making dataframe
# creating a pandas dataframe
df9= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'08/05/2022','Source':Source,'Destination':Destination,'departure_time':departure_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df9

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,GO FIRST,08/05/2022,Delhi,Kolkata,05:45,07:50,02h 05m,non-stop,"7,319"
1,Indigo,08/05/2022,Delhi,Kolkata,06:05,07:50,01h 45m,non-stop,"7,319"
2,SpiceJet,08/05/2022,Delhi,Kolkata,07:05,09:05,02h 00m,non-stop,"7,319"
3,SpiceJet,08/05/2022,Delhi,Kolkata,18:25,20:25,02h 00m,non-stop,"7,319"
4,Indigo,08/05/2022,Delhi,Kolkata,08:40,10:45,02h 05m,non-stop,"7,319"
...,...,...,...,...,...,...,...,...,...
143,SpiceJet,08/05/2022,Delhi,Kolkata,13:05,18:30,05h 25m,1-stop,"21,599"
144,Air India,08/05/2022,Delhi,Kolkata,21:15,23:50,26h 35m,1-stop,
145,Air India,08/05/2022,Delhi,Kolkata,20:00,23:50,27h 50m,1-stop,
146,Air India,08/05/2022,Delhi,Kolkata,19:00,23:50,28h 50m,1-stop,
147,Air India,08/05/2022,Delhi,Kolkata,17:50,23:50,30h 00m,1-stop Via IXU,

In [48]:
data=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],ignore_index=True)
data

,airline_name,date_of_journey,Source,Destination,departure_time,arrival_time,duration,total_stops,Price
0,Indigo,05/05/2022,Bangalore,Mumbai,06:00,07:35,01h 35m,non-stop,"6,529"
1,GO FIRST,05/05/2022,Bangalore,Mumbai,05:45,07:25,01h 40m,non-stop,"6,529"
2,AirAsia,05/05/2022,Bangalore,Mumbai,22:40,00:20,01h 40m,non-stop,"6,529"
3,Indigo,05/05/2022,Bangalore,Mumbai,07:00,08:50,01h 50m,non-stop,"6,529"
4,AirAsia,05/05/2022,Bangalore,Mumbai,19:30,21:20,01h 50m,non-stop,"6,529"
...,...,...,...,...,...,...,...,...,...
1789,SpiceJet,08/05/2022,Delhi,Kolkata,13:05,18:30,05h 25m,1-stop,"21,599"
1790,Air India,08/05/2022,Delhi,Kolkata,21:15,23:50,26h 35m,1-stop,
1791,Air India,08/05/2022,Delhi,Kolkata,20:00,23:50,27h 50m,1-stop,
1792,Air India,08/05/2022,Delhi,Kolkata,19:00,23:50,28h 50m,1-stop,
1793,Air India,08/05/2022,Delhi,Kolkata,17:50,23:50,30h 00m,1-stop Via IXU,

In [49]:
# writing to Excel
datatoexcel = pd.ExcelWriter('flight_price_prediction.xlsx')
  
# write DataFrame to excel
data.to_excel(datatoexcel)
  
# save to excel
datatoexcel.save()